body{
    display:flex;
    justify-content: center;
    align-items:center;
    margin:0;
    flex-direction: column;
}

#calc-frame {
    display:flex;
    justify-content:flex-start; 
    align-items:center;
    flex-direction: column;
    background-color: #252429;
    height: 640px;
    width: 360px;
    border-radius: 15px 15px 35px 35px;
}

#outer-display-border{
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: #202020;
    height: 80px;
    width: 280px;


}

#inner-display-border{
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: #c8cabc;
    height: 40px;
    width: 240px;
    
}

#display{
    background-color: rgb(148, 180, 148);
    height: 30px;
    width: 200px;
    border-radius: 10px 10px 10px 10px;
    text-align: right;
    vertical-align: bottom;
    
}

#calc-buttons{
    display:flex;
    flex-wrap:wrap;
    gap:18px;
    justify-content: space-evenly;
    width: 300;
}

.smaller{
    font-size: 0.5em;
    
}

.action{
    background-color: #371e16;
}

.number{
    background-color:#06050a;
}

.equals{
    background-color: #da9a40;
    color:black;
}

.memory{
    background-color:#2a3e35;
}

button{
    border-radius: 100%;
    width:45px;
    height:45px;
    color:white;
    font-weight: bold;
    border:0;
}

#func-button-green{
    border-radius: 100%;
    width:20px;
    height:20px;
    background-color: #2a3e35;
}

#func-button-red{
    border-radius: 100%;
    width:20px;
    height:20px;
    background-color: #cc1b10;
}

#brand-label{
    
    color:white;
    align-self: flex-start;
    margin:54px 0px 10px 40px;

}

#function-buttons{
    align-self: flex-start;
    margin:54px 0px 10px 40px;
    display:flex;
    gap:20px;

}
b{
    font-size: 24;
}

.clicked{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}